<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
    <head>
        <meta name="keywords" content="TDM_Report">
        <link rel="stylesheet" type="text/css" media="screen" href="modern_orange_green_top.css" title="report">
        <link rel="stylesheet" type="text/css" media="print" href="modern_orange_green_top_print.css" title="report">
        <title>Toad Data Modeler - HTML Report</title>
    </head>

<body class="topPage">
  <div class="title">
    <div class="title1">Model: RE Oracle 12c Release 2&nbsp;</div>
    <div class="title2">Keys&nbsp;</div>
    <div class="titleimage">
      <a href="http://www.quest.com" target="_blank">
      <img src="logo.png" alt="Made with Toad Data Modeler" border="0">
      </a>
    </div>
  </div>
        <div id="navTop">
            <ul>
                <li><a href="MInfo.html" target="_top">Model Info</a>
</li>
                <li><a href="MImage.html" target="_top">ER Diagram</a>
</li>
                <li><a href="Tables.html" target="_top">Entities</a>
</li>
                <li><a href="Columns.html" target="_top">Attributes</a>
</li>
                <li><a href="Indexes.html" target="_top">Indexes</a>
</li>
                <li class="selLi"><a href="Keys.html" class="selAnchor">Keys</a>
</li>
                <li><a href="Relations.html" target="_top">Relationships</a>
</li>
            </ul>
            <div id="navTopEnd"><p>&nbsp;</p></div>
        </div>

    </body>
</html>

