<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
    <head>
        <meta name="keywords" content="TDM_Report">
        <link rel="stylesheet" type="text/css" media="screen" href="modern_orange_green_top.css" title="report">
        <link rel="stylesheet" type="text/css" media="print" href="modern_orange_green_top_print.css" title="report">
        <title>Toad Data Modeler - HTML Report</title>
    </head>

<body class="rightPage"><div class="caption1"><p>Basic Information</p></div>
<table class="tabformat" border="0" cellpadding="2" cellspacing="1" width="100%">
<tr>
<td class="tabhead" width="20%">Project</td>
<td class="tabdata" width="80%"></td>
</tr>
<tr>
<td class="tabhead" width="20%">Model</td>
<td class="tabdata" width="80%">RE Oracle 12c Release 2</td>
</tr>
<tr>
<td class="tabhead" width="20%">Version</td>
<td class="tabdata" width="80%"></td>
</tr>
<tr>
<td class="tabhead" width="20%">Company</td>
<td class="tabdata" width="80%"></td>
</tr>
<tr>
<td class="tabhead" width="20%">Author</td>
<td class="tabdata" width="80%"></td>
</tr>
<tr>
<td class="tabhead" width="20%">Created</td>
<td class="tabdata" width="80%">30/07/2020</td>
</tr>
<tr>
<td class="tabhead" width="20%">Last Modified</td>
<td class="tabdata" width="80%">30/07/2020</td>
</tr>
<tr>
<td class="tabhead" width="20%">Database Platform</td>
<td class="tabdata" width="80%">Oracle 12c Release 2</td>
</tr>
</table>
<br>
<div class="caption1"><p>Statistic Information</p></div>
<table class="tabformat" border="0" cellpadding="2" cellspacing="1" width="100%">
<tr>
<td class="tabhead" width="25%">Entities</td>
<td class="tabdata">21</td>
<td class="tabhead">Entity Check Constraints</td>
<td class="tabdata">0</td>
<td class="tabdata"  colspan="2"></td>
</tr>
<tr>
<td class="tabhead" width="25%">Attributes</td>
<td class="tabdata">1064</td>
<td class="tabhead">Attribute Check Constrains</td>
<td class="tabdata">0</td>
<td class="tabdata"  colspan="2"></td>
</tr>
<tr>
<td class="tabhead" width="25%">Relationships</td>
<td class="tabdata">21</td>
<td class="tabhead">Identifying</td>
<td class="tabdata">0</td>
<td class="tabhead">Non-identifying</td>
<td class="tabdata">21</td>
</tr>
<tr>
<td class="tabhead" width="25%">Indexes</td>
<td class="tabdata">79</td>
<td class="tabdata"  colspan="4"></td>
</tr>
<tr>
<td class="tabhead" width="25%">Keys</td>
<td class="tabdata">19</td>
<td class="tabhead">Primary Keys</td>
<td class="tabdata">19</td>
<td class="tabhead">Alternate Keys</td>
<td class="tabdata">0</td>
</tr>
<tr>
<td class="tabhead" width="25%">Entity Triggers</td>
<td class="tabdata">0</td>
<td class="tabdata"  colspan="4"></td>
</tr>
<tr>
<td class="tabhead" width="25%">View Relationships</td>
<td class="tabdata">0</td>
<td class="tabdata"  colspan="4"></td>
</tr>
<tr>
<td class="tabhead" width="25%">Synonyms</td>
<td class="tabdata">0</td>
<td class="tabdata"  colspan="4"></td>
</tr>
<tr>
<td class="tabhead" width="25%">Materialized Views</td>
<td class="tabdata">0</td>
<td class="tabdata"  colspan="4"></td>
</tr>
</table>
<br>
</body></html>
